{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container border">
        <h1>Register</h1>

        <div class="register-card border">
            <input type="text" placeholder="Last name">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Age">

            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>

            <select id="region-select" onchange="loadProvinces()">
                
            </select>

            <select id="province-select" onchange="loadMunicipalities()">

            </select>

            <select id="municipality-select" onchange="loadBarangays()">

            </select>

            <select id="barangay-select">

            </select>

        </div>
    </div>
    
    <script>
        window.onload = loadRegions;
        var regions = []

        function loadRegions() {
            fetch("/regions")
            .then(res => res.json())
            .then(data => {

                regions = data

                const select = document.getElementById("region-select")

                data.forEach(r => {
                    const option = document.createElement("option")
                    option.value = r.region_id
                    option.textContent = r.region_description
                    select.appendChild(option)
                })

            })
        }

        function loadProvinces(){

            const region_id = document.getElementById("region-select").value

            fetch("/provinces")
            .then(res => res.json())
            .then(data => {

                const select = document.getElementById("province-select")
                select.innerHTML = ""

                data.forEach(p => {
                    
                    if(p.region_id == region_id){
                        
                        const option = document.createElement("option")
                        option.value = p.province_id
                        option.textContent = p.province_name

                        select.appendChild(option)

                    }

                })

            })
        }

        function loadMunicipalities(){

            const province_id = document.getElementById("province-select").value

            fetch("/municipalities")
            .then(res => res.json())
            .then(data => {

                const select = document.getElementById("municipality-select")
                select.innerHTML = ""

                data.forEach(m => {

                    if(m.province_id == province_id){

                        const option = document.createElement("option")
                        option.value = m.municipality_id
                        option.textContent = m.municipality_name

                        select.appendChild(option)

                    }

                })

            })
        }


        function loadBarangays(){

            const municipality_id = document.getElementById("municipality-select").value

            fetch("/barangays")
            .then(res => res.json())
            .then(data => {

                const select = document.getElementById("barangay-select")
                select.innerHTML = ""

                data.forEach(b => {

                    if(b.municipality_id == municipality_id){

                        const option = document.createElement("option")
                        option.value = b.barangay_id
                        option.textContent = b.barangay_name

                        select.appendChild(option)

                    }

                })

            })
        }

        var region_id = 0
        function select_id() {
            const select = document.getElementById('region-select').value;
            for (var i of json_copy){
                if (i.region_description == select){
                    document.getElementById("region_id").innerHTML = i.region_id;
                    region_id = i.region_id;
            
                }
            }
        }


        
    </script>
{% endblock %}