



ul{
    display: flex;       /* Aligns list items horizontally */
    list-style-type: none; /* Removes default bullets */
    padding: 0;          /* Removes default left padding/indentation */
    margin: 0;           /* Removes default margins */
    gap: 20px;    
}
ul li{
    padding: 10px;       /* Adds padding inside each list item */
   
}
header{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li a{
    text-decoration: none; /* Removes underline from links */
    color: rgb(255, 255, 255);          /* Sets link color to black */
}


.border{
    border-style:solid;
    border-width:2px;
    border-color:red;
}

.border2{
    border-style:solid;
    border-width:2px;
    border-color:rgb(60, 255, 0);
}




